<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Accounts - Vertex Vanguard</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class=" text-white flex flex-col bg-[#21083b]">
    <div id="app" class="flex flex-col">
        <!-- <header class="text-3xl  font-bold bg-slate-600 flex gap-6 justify-center">
            <a href="">Accounts</a>
            <a href="">Cards</a>
            <a href="">Loans</a>
            <a href="">Transactions</a>
        </header>
         -->
        <header class="text-[#21083b] p-4">
            <nav class="flex flex-col lg:flex-row items-center lg:justify-around">
                <div v-if="client">
                    <h1 class="text-6xl text-cyan-400 font-bold">Welcome, {{client.firstName}}!</h1>
                </div>
                <div class="mt-4 hidden lg:flex text-xl text-cyan-400">
                    <a href="./accounts.html"
                        class="mr-2 mb-2  bg-purple-900 hover:bg-purple-900  font-bold py-2 px-4 rounded">Accounts</a>
                    <a href="#"
                        class="mr-2 mb-2   hover:bg-purple-900  font-bold py-2 px-4 rounded">Cards</a>
                    <a href="#"
                        class="mr-2 mb-2   hover:bg-purple-900  font-bold py-2 px-4 rounded">Loans</a>
                    <a href="#"
                        class="mr-2 mb-2   hover:bg-purple-900  font-bold py-2 px-4 rounded">Transactions</a>
                </div>
            </nav>
        </header>
        <main class="p-4 flex flex-col gap-4 items-center">
            <h2 class="text-5xl text-cyan-400 font-bold mb-8">Accounts</h2>
            <div class="text-xl flex gap-4 flex-col lg:flex-row w-2/3 justify-center items-center">
                <template v-if="accounts.length>0" v-for="account in accounts">
                    <div class="w-full">
                        <a class="lg:w-1/5" v-bind:href="'./account.html?id='+account.id">
                            <div class="bg-purple-900 rounded-t-lg flex p-2 justify-between">
                                <span class="text-2xl text-white font-bold">{{account.number}}</span>
                            </div>
                            <div class="bg-cyan-400 rounded-b-lg p-4">
                                <div class="flex flex-col">
                                    <div class="mb-2 flex justify-between">
                                        <span class="font-bold text-[#21083b]">Balance: </span>
                                        <span class="text-[#21083b] font-bold">
                                            {{account.balance.toLocaleString('en-US',{style:'currency', currency:
                                            'USD'})}}
                                        </span>
                                    </div>
                                    <div class=" flex justify-between">
                                        <span class="font-bold text-[#21083b]">Creation Date: </span>
                                        <span class="text-[#21083b] font-bold">{{account.creationDate}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </template>
            </div>

            <h2 class="text-5xl text-cyan-400 font-bold my-8">Loans</h2>

            <template v-if="client">
                <template v-if="client.clientLoans.length>0">
                    <div class="flex flex-col w-2/3 justify-center items-center">
                        <table class="min-w-full text-xl bg-cyan-400 rounded-lg font-bold text-[#21083b] text-center">
                            <thead>
                                <tr>
                                    <th class="rounded-tl-lg py-2 px-4 bg-purple-900 text-white text-2xl">Name</th>
                                    <th class="py-2 px-4 bg-purple-900 text-white text-2xl">Amount</th>
                                    <th class="rounded-tr-lg py-2 px-4 bg-purple-900 text-white text-2xl">Payments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="loan in client.clientLoans">
                                    <td>{{ loan.name }}</td>
                                    <td>{{ loan.amount }}</td>
                                    <td>{{ loan.payments }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <table>
                            <tr>
                                <th>Name</th>
                                <td></td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th>Loan Amount</th>
                                <td>$1000</td>
                                <td>$2000</td>
                                <td>$3000</td>
                            </tr>
                            <tr>
                                <th>Interest Rate</th>
                                <td>5%</td>
                                <td>6%</td>
                                <td>7%</td>
                            </tr>
                        </table> -->
                    </div>
                </template>
                <template v-else>
                    <div>
                        {{client.firstName}}, you have no loans.
                    </div>
                </template>
            </template>

            <div class=" p-4 text-center">
                <img src="../images/banner.png" alt="Bank App Banner" class="mx-auto my-4 max-w-full lg:h-96">
            </div>
        </main>
    </div>
    <footer class="text-cyan-400 p-4 flex items-center justify-around">

        <h3 class="text-lg font-bold">2023 - Vertex Vanguard Bank</h3>

        <div>
            <a href="https://www.instagram.com" class="mr-2">
                Instagram
            </a>
            <a href="https://www.facebook.com" class="mr-2">
                Facebook
            </a>
            <a href="https://www.whatsapp.com" class="mr-2">
                WhatsApp
            </a>
        </div>
    </footer>
    <script src=" ./accounts.js">
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="../../tailwind.config.js"></script>
</body>

</html>