<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Accounts - Vertex Vanguard</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class=" text-white flex flex-col min-h-screen bg-[#21083b]">
    <div id="app" class="flex grow flex-col">
        <!-- <header class="text-3xl  font-bold bg-slate-500 flex gap-6 justify-center">
            <a href="">Accounts</a>
            <a href="">Cards</a>
            <a href="">Loans</a>
            <a href="">Transactions</a>
        </header>
         -->
        <header class="text-[#21083b] p-4">
            <nav class="flex flex-col sm:flex-row justify-between items-center">
                <div>
                    <h1 class="text-xl text-[#17ead9] font-bold">Movements</h1>
                </div>
                <div class="mt-4 sm:mt-0">
                    <a href="./accounts.html"
                        class="mr-2 mb-2 sm:mb-0 bg-[#17ead9] hover:bg-purple-600  font-bold py-2 px-4 rounded">Accounts</a>
                    <a href=""
                        class="mr-2 mb-2 sm:mb-0 bg-[#17ead9] hover:bg-purple-600  font-bold py-2 px-4 rounded">Cards</a>
                    <a href=""
                        class="mr-2 mb-2 sm:mb-0 bg-[#17ead9] hover:bg-purple-600  font-bold py-2 px-4 rounded">Loans</a>
                    <a href="" class="bg-[#17ead9] hover:bg-purple-600  font-bold py-2 px-4 rounded">Transactions</a>
                </div>
            </nav>
        </header>
        <main class="p-4 flex flex-col grow gap-4 items-center">
            <h1 class="text-3xl text-tealbg-purple-500 font-bold">{{account.number}}</h1>
            <div class="flex flex-col w-1/2 justify-center gap-4">
                <template v-if="account.balance">
                    <a class="" v-bind:href="'./account.html?id='+account.id">
                        <div class="bg-[#17ead9] rounded-lg shadow-[0_35px_60px_-15px_rgba(23,234,217,0.1)] p-4">
                            <h3 class="text-lg font-bold mb-2"></h3>
                            <div class="flex flex-col">
                                <div class="mb-2 flex justify-between">
                                    <span class="font-bold text-[#21083b]">Account Number: </span>
                                    <span class="text-[#21083b] font-bold">{{account.number}}</span>
                                </div>
                                <div class="mb-2 flex justify-between">
                                    <span class="font-bold text-[#21083b]">Balance: </span>
                                    <span class="text-[#21083b] font-bold">{{account.balance.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</span>
                                </div>
                                <div class=" flex justify-between">
                                    <span class="font-bold text-[#21083b]">Creation Date: </span>
                                    <span class="text-[#21083b] font-bold">{{account.creationDate}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </template>
                <template v-if="transactions.length>0">
                    <table class="min-w-full bg-[#17ead9] rounded-lg text-[#21083b] text-center">
                        <thead>
                            <tr>
                                <th class="rounded-tl-lg py-2 px-4 bg-purple-500 text-white">Type</th>
                                <th class="py-2 px-4 bg-purple-500 text-white">Amount</th>
                                <th class="py-2 px-4 bg-purple-500 text-white">Date</th>
                                <th class="rounded-tr-lg py-2 px-4 bg-purple-500 text-white">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="transaction in transactions">
                                <td v-if="transaction.type=='CREDIT'" class="py-2 px-4 text-green-600">
                                    {{transaction.type}}</td>
                                <td v-if="transaction.type=='DEBIT'" class="py-2 px-4 text-red-600">{{transaction.type}}
                                </td>
                                <td class="py-2 px-4">
                                    {{Intl.NumberFormat('en-US',
                                    {style: 'currency',
                                    currency: 'USD'}).
                                    format(transaction.amount)}}</td>
                                <td class="py-2 px-4">{{transaction.date}}</td>
                                <td class="py-2 px-4">{{transaction.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </template>
            </div>
            <div class=" p-4 text-center">
                <img src="../images/banner.png" alt="Bank App Banner" class="mx-auto my-4 max-w-full h-96">
                <h1 class="text-2xl">"Where Innovation Meets Banking Brilliance."</h1>
            </div>
        </main>
    </div>
    <footer class="text-tealbg-purple-500 p-4 text-center">
        <div>
            <h3 class="text-lg font-bold">2023 - Vertex Vanguard Bank</h3>
        </div>
        <div class="mt-4">
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" class="mr-2">
                Instagram
            </a>
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" class="mr-2">
                Facebook
            </a>
            <a href="https://www.whatsapp.com" target="_blank" rel="noopener noreferrer" class="mr-2">
                WhatsApp
            </a>
    </footer>
    <script src=" ./account.js">
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="../../tailwind.config.js"></script>
</body>

</html>